html,body {
	background-color:#eee;
	height:100%;
}
.container {
	background-color:#fff;
	min-height:100%;
	padding:/*0px*/ 16px;
}
.row {
	margin-top:8px;
}

#header {
	border-bottom:solid black 1px;
}
#logo {
	background-image:url(dr3v.png);
	background-size:auto 60px; /* the line-height */
	background-repeat:no-repeat;
	display:inline-block; /* don't wrap */
	min-width:110px; /* how wide the image ends up at 60px tall */
	height:64px; /* make it a little bigger so I can nudge it downward 4px */
	background-position:bottom; /* which makes it line up with the rest of the line (not image) */
}
#logo #logo-text {
	visibility:hidden;
}

.status {
	font-size:2.5rem;
}
.title {
	font-size:1.75rem;
	margin-top:1.5rem;
}
.subtitle {
	font-size:1.5rem;
	display:none; /*hide these optional pieces until they exist*/
	color:#aaa;
	position:relative;
	top:-0.2rem;
}
.art {
	/*visibility:hidden;*/
	opacity:0;
}
.subtitle span {
	color:#777;
}

#player-ui button {
	width:100%;
}
.jp-volume-bar {
	border:solid 1px;
}
.jp-volume-bar-value {
	background-color:#ddd;
	text-align:right;
}
#volume-bar-speaker {
	height:20px;
	width:auto;
	margin:4px 4px -4px 4px;
}

#no-broadcast {
	display:none;
}

#calendar-embed {
	height:300px;
	width:100%;

	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
}

